<html>
  <head>
    <title>AirSlide owner</title>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/owner.js"></script>
    <link id="devhub-style" href="/stylesheets/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <style type="text/css">
    </style>
  </head>
  <body>
    <h2>AirSlide owner</h2>

    <div id="list"></div>
    <div id="slide"></div>
  </body>
</html>


