<!DOCTYPE html>
<html>
  <head>
    <title>AirSlide owner</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="/javascripts/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.tinycarousel.min.js"></script>
    <script type="text/javascript" src="/javascripts/pdf.js"></script>
    <script type="text/javascript" src="/javascripts/owner.js"></script>
    <link href="/stylesheets/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/air_slide.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/tinycarousel.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <body id="body-main" style="padding-top: 50px">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">AirSlide - owner <span id="connect_num"></span></a>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <a id="slide-first" class="buttons btn btn-inverse" style="float: left;" href="#">＜＜</a>
          <span id="slider-code">
            <a class="buttons prev btn btn-inverse" href="#">＜</a>
            <span class="viewport">
              <ul id="thumb-list" class="overview"></ul>
            </span>
            <a class="buttons next btn btn-inverse" href="#">＞</a>
          </span>
          <a id="slide-last" class="buttons btn btn-inverse" href="#">＞＞</a>
        </div>
      </div>

      <br>

      <div class="row-fluid">
        <div class="span3">
          <div id="progress_bar" class="progress progress-info progress-striped" style="display: none;">
            <div id="loading_progress_bar" class="bar" style="width: 0%;"></div>
          </div>
          <ul id="dir-list" class="nav nav-pills nav-stacked"></ul>
        </div>

        <div class="span6">
          <div id="slide-main">
            <button id="slide-prev" class="slide-buttons btn btn-inverse">＜</button>
            <div id="slide-place">
              <div id="slide"></div>
            </div>
            <button id="slide-next" class="slide-buttons btn btn-inverse">＞</button>
          </div>
          <div id="mouse_result"></div>
        </div>
        <div class="span3">
          <!-- TODO: 進捗を表示する -->
        </div>
      </div>
    </div>
  </body>
</html>


