<!DOCTYPE html>
<html>
  <head>
    <title>AirSlide viewer</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="/javascripts/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/viewer.js"></script>
    <link href="/stylesheets/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/air_slide.css" media="screen" rel="stylesheet" type="text/css" />
 
  </head>
  <body id="body-main" style="padding-top: 50px">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">AirSlide - viewer (<span id="connect_num">0</span>)</a>
        </div>
      </div>
    </div>

    <center>
      <div id="slide-view"></div>
    </center>
  </body>
</html>

